@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Lora:wght@400;600&family=Roboto:wght@300;400;700&display=swap");

:root {
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
  --white: #ffffff;
  --black: #000000;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Lora", serif;
  --ff-cursive: "Dancing Script", cursive;

  /* colors */
  --grey-1: #212529;
  --grey-2: #343a40;
  --grey-3: #495057;
  --grey-4: #6c757d;
  --grey-5: #adb5bd;
  --grey-6: #ced4da;
  --grey-7: #dee2e6;
  --grey-8: #e9ecef;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  line-height: 1.25;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--grey-4);
}

body {
  font-size: 0.85rem;
  line-height: 1;
  background: var(--white);
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  body {
    font-size: 1rem;
  }
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 769px) {
  .section-center {
    width: 95vw;
  }
}

/* 
================================
Navigation
================================
*/
.header {
  color: var(--black);
  background: var(--white);
}
.logo {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}

.logo-container {
  display: block;
  width: 240px;
  float: left;
}

.bar-btn {
  display: block;
  float: right;
  font-size: 2rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
}

.nav-bar {
  display: none;
}

@media screen and (min-width: 769px) {
  .header {
    display: grid;
    grid-template-rows: 50% 1fr;
  }

  .logo {
    display: grid;
  }

  .bar-btn {
    display: none;
  }

  .logo-container {
    width: 240px;
  }

  .nav-bar {
    display: grid;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid var(--black);
    /* border-bottom: 1px solid var(--black); */
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
  }

  .nav-link {
    font-size: 1.15rem;
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    letter-spacing: var(--spacing);
    color: var(--grey-1);
    justify-self: center;
    transition: var(--transition);
    font-weight: 300;
  }

  .nav-link:hover {
    transform: rotateX(40);
    color: orange;
  }
}

/* 
================================
Sidebar
================================
*/
.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  display: block;
  transition: var(--transition);
  transform: translateX(-100%);
  place-items: center;
  background: var(--white);
  padding-top: 10rem;
}

.show-sidebar {
  transform: translateX(0);
  background: var(--grey-8);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--grey-1);
  display: inline-block;
  margin: 1.5rem 0;
  font-family: var(--ff-secondary);
}

.sidebar-links a:hover {
  color: orange;
  transform: scale(1.2);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  color: #bb2525;
  transition: var(--transition);
  cursor: pointer;
}

.close-btn:hover {
  color: #e66b6b;
}

/* 
================================
Footer
================================
*/
.footer {
  padding-bottom: 2rem;
  background: var(--white);
}

.footer p {
  color: var(--grey-1);
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
}

.social-icons {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.social-icons li {
  display: inline-block;
  padding: 1.5rem 0;
}

.social-icon {
  color: var(--white);
  background: var(--grey-1);
  font-size: 1.2rem;
  margin: 0 1rem;
  padding: 0.4rem 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.social-icon:hover {
  color: orange;
}

@media screen and (min-width: 576px) {
  .social-icon {
    color: var(--white);
    background: var(--grey-1);
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 0.5rem 0.6rem;
    border-radius: var(--radius);
    transition: var(--transition);
  }
}
/* 
================================
 Contact 
 ================================
  */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 60vh;
  margin: 0;
}

.contact-address {
  background: var(--grey-8);
  margin: 2rem 0;
  transition: var(--transition);
}

.contact-address:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.contact-address h2 {
  display: block;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  color: var(--grey-1);
}

.contact-address h3 {
  display: block;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--grey-1);
}

.contact-address h4 {
  display: block;
  text-align: left;
  padding-left: 1rem;
  color: var(--grey-1);
}

.contact-address p {
  text-align: left;
  padding-left: 1rem;
  line-height: 1.5;
  color: var(--grey-1);
  padding-bottom: 1rem;
}
